<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs"); -%>
</head>

<body>
  <div class="container-fluid background aboutpicture">
    <!-- Navbar -->
    <%- include("partials/header.ejs");  -%> 

    <!-- Title -->
    <div class="position">
      <h1 class="style-heading" data-aos="fade-right">About Us</h1>
    </div>

    <div class="div-background transparent" data-aos="fade-up">
      <div class="div-padding">
        <h1 class="header" data-aos="fade-up" data-aos-delay="1500">
          About Us
        </h1>
        <p data-aos="fade-up" data-aos-delay="2000">
          <%- about %> 
        </p>
      </div>
    </div>

    <div class="container" data-aos="fade-right">
      <div class="row" style="padding-left: 85px;">
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">18</h3>
          <p data-aos="fade-up">Years of Experience</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">15000</h3>
          <p data-aos="fade-up">Happy Customers</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">100</h3>
          <p data-aos="fade-up">Menus</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">20</h3>
          <p data-aos="fade-up">Staffs</p>
        </div>
      </div>
    </div>

    <!-- Footers -->
    <%- include("partials/footer.ejs");  -%> 

    <%- include("partials/script.ejs");  -%> 
</body>

</html>