<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs"); -%>
</head>

<body>
  <div class="container-fluid background bgpicture">
    <!-- Navbar -->
    <%- include("partials/header.ejs");  -%>

    <!-- Title -->
    <div class="position">
      <h1 class="style-heading" data-aos="fade-right">Our Menu</h1>
    </div>

    <div class="div-background transparent" data-aos="fade-up">
      <div class="container pt-0">
        <div class="row">
          <div class="col-md-4">
            <h1>Breakfast</h1>
            <% itemlist.forEach(element => { %>
            <p> <%- element %> </p>
            <% }) %>
          </div>
          <div class="col-md-4">
            <h1>Lunch</h1>
            <% itemlist.forEach(element => { %>
            <p> <%- element %> </p>
            <% }) %>
          </div>
          <div class="col-md-4">
            <h1>Dinner</h1>
            <% itemlist.forEach(element => { %>
            <p> <%- element %> </p>
            <% }) %>
          </div>
        </div>
      </div>
      <h1>For more Please visit us</h1>
    </div>

    <!-- Footers -->
    <%- include("partials/footer.ejs");  -%>

    <%- include("partials/script.ejs");  -%>
</body>

</html>